# AT LEAST 20 CHARS A+9+#+a
KEY=some_key
# Default port
PORT=9000
# lIST OF SERVERS
SERVERS="list, of, servers"

# TIME IN SECONDS
TIMEOUT=60

Commands
SH_PULL=/path/to/file.sh
SH_PORTS=/path/to/file.sh
SH_STATUS=/path/to/file.sh


