# AT LEAST 20 CHARS A+9+#+a
KEY=JUEfdsj8A87@$%!DSKDLSA.
# Default port
PORT=9000
# lIST OF SERVERS
SERVERS="m1.server.mx, m2.server.mx, m3.server.mx"

# Lista de comandos predeterminados
SH_PULL=/root/server/pull.sh
SH_PORTS=/root/server/ports.sh
SH_STATUS=/root/server/status.sh

REPOSITORY = 'https://github.com/AlejandroMova/maps.git'
